main {
    min-height: 100vh;
}

footer {
    padding: 20px 50px;
}

section {
    margin: 30px;
}

tt {
    padding-left: 5px;
    padding-right: 10px;
}

#logo {
    height: 35px;
    width: auto;
    padding-right: 50px;
}

#results {
    width: 33vw;
}

.top {
    padding: 0 40px;
    padding-top: 40px;
    padding-bottom: 60px;
    text-align: center;
}

.col {
    height: 100vh;
    float: left;
    width: 50%;
    height: 100%;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

td, th {
    padding: 8px;
    text-align: left;
}

#tblCol1 {
    text-align: center;
}

#tblCol2 {
    text-align: center;
}

#results {
    font-family: sans-serif;
}