main {
    min-height: 100vh;
}

footer {
    padding: 20px 50px;
}

section {
    margin: 30px;
}

tt {
    padding-left: 5px;
    padding-right: 10px;
}

#logo {
    height: 35px;
    width: auto;
    padding-right: 50px;
}

#results {
    width: 33vw;
}

.col1 {
    height: 100vh;
    float: left;
    width: 44.44%;
}

.col2 {
    height: 100vh;
    float: left;
    width: 27.78%;
}

.col3 {
    height: 100vh;
    float: left;
    width: 27.78%;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

td, th {
    padding: 8px;
    text-align: left;
}

#results {
    font-family: sans-serif;
}